:root {
    --color: red;
    --main-color: color-mix(in srgb, var(--color) 90%, white);
    --dark-color: color-mix(in srgb, var(--color) 75%, black);
    --selection-color: color-mix(in srgb, var(--color) 40%, white);
    --bg-color: white;
    --text-color: black;
    --link-text-color: black;
}

.dark {
    --bg-color: #121212;
    --text-color: white;
    --selection-color: color-mix(in srgb, var(--color) 50%, black);
    --link-text-color: white;
}

* {
    font-family: 'Segoe UI', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    zoom: 110%;
    margin: 25px 150px;
    transition: 0.3s;
}

a {
    color: var(--link-text-color);
    border-bottom: 2px solid var(--color);
    text-decoration: none;
    transition: 0.2s;
}

a:hover {
    color: var(--color);
}

button {
    background: var(--main-color);
    color: white;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    transition: 0.2s;
    padding: 10px 16px;
}

button:hover {
    background: var(--dark-color);
}

.shareButton {
    font-size: 15px;
    margin: 5px 0;
    background-color: var(--main-color);
    border: 0;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.shareButton:hover {
    color: white;
    background-color: var(--dark-color);
}

#returnToTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 15%;
    z-index: 99;
}

#returnToTopButton a {
    font-size: 20px;
    border-bottom: 0;
}

#servoDellaGlebaButton {
    width: 100%;
    font-size: 25px;
}

@media (max-width: 1100px) {
    body {
        margin: 25px 7%;
    }
}

@media (max-width: 900px) {
    body {
        margin: 25px 6%;
        zoom: 100%;
    }
}

h1 {
    border-bottom: 4px solid var(--main-color);
    padding-bottom: 15px;
    display: block;
}

hr {
    border: 0;
    border-top: 1px solid var(--main-color);
    margin-top: 30px;
}

.autocad {
    color: var(--main-color);
    font-size: 70px;
    font-weight: bold;
}

#servoDellaGlebaButton {
    cursor: pointer;
    width: 100%;
    font-size: 25px;
    background: var(--main-color);
    border: 0;
    color: white;
    border-radius: 10px;
    padding: 10px;
    transition: 0.3s;
}

#servoDellaGlebaButton:hover {
    background: var(--dark-color);
}

.topnav {
    overflow: hidden;
    position: relative;
}

::selection {
    background: var(--selection-color);
}
