body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    zoom: 110%;
    margin: 25px;
}

h1 {
    border-bottom: 4px solid green;
    padding-bottom: 15px;
}

a,
b {
    color: green;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

::selection {
    background: lightgreen;
}

li {
    margin: 10px 0;
}

.description {
    background: #d0ebd0;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    border-left: 4px solid green;
}

.greenUnderline {
    border-bottom: 3px solid green;
}

.greenTag {
    background: darkgreen;
    color: white;
    padding: 4px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}

.descriptionHeading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}
